In [648]:
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

/kaggle/input/open-shopee-code-league-marketing-analytics/sample_submission_0_1.csv
/kaggle/input/open-shopee-code-league-marketing-analytics/users.csv
/kaggle/input/open-shopee-code-league-marketing-analytics/test.csv
/kaggle/input/open-shopee-code-league-marketing-analytics/train.csv

In [649]:
train = pd.read_csv('../input/open-shopee-code-league-marketing-analytics/train.csv', index_col = 'row_id')
test = pd.read_csv('../input/open-shopee-code-league-marketing-analytics/test.csv', index_col = 'row_id')
user = pd.read_csv('../input/open-shopee-code-league-marketing-analytics/users.csv')

In [650]:
print(user.head(20))
print(len(user))

    user_id  attr_1  attr_2  attr_3   age        domain
0         0     NaN     1.0     0.0   NaN    @gmail.com
1         1     1.0     1.0     2.0  50.0    @gmail.com
2         2     NaN     1.0     0.0   NaN         other
3         3     NaN     1.0     0.0   NaN    @gmail.com
4         4     1.0     1.0     2.0  33.0    @gmail.com
5         5     1.0     1.0     1.0  30.0    @gmail.com
6         6     1.0     1.0     2.0  32.0    @gmail.com
7         7     1.0     1.0     1.0  36.0    @gmail.com
8         8     1.0     1.0     1.0  43.0    @yahoo.com
9         9     NaN     1.0     0.0   NaN    @gmail.com
10       10     1.0     1.0     2.0  33.0    @gmail.com
11       11     1.0     1.0     2.0  32.0    @gmail.com
12       12     1.0     1.0     2.0  25.0  @hotmail.com
13       13     NaN     1.0     0.0   NaN  @hotmail.com
14       14     1.0     1.0     4.0  36.0    @gmail.com
15       15     1.0     1.0     3.0  38.0    @gmail.com
16       16     NaN     1.0     0.0   NaN    @yahoo.com
17       17     1.0     1.0     2.0  45.0    @gmail.com
18       18     1.0     1.0     2.0  28.0    @gmail.com
19       19     NaN     1.0     0.0   NaN    @gmail.com
127886

In [651]:
user1 = user.copy()

In [652]:
user1[['attr_1','attr_2']] = user1[['attr_1','attr_2']].fillna(0)
#將attribute1跟attribute2中沒有資料的部分都填上0
#fill in zero for all NaN in attribute1 and attribute2

In [653]:
user1['age'] = user1['age'].fillna(round(user1['age'].mean(),2))
#將age中NaN的部分填上平均年齡
#fill the average age for all NaN in column 'age'

In [654]:
user1.head(10)

   user_id  attr_1  attr_2  attr_3    age      domain
0        0     0.0     1.0     0.0  31.37  @gmail.com
1        1     1.0     1.0     2.0  50.00  @gmail.com
2        2     0.0     1.0     0.0  31.37       other
3        3     0.0     1.0     0.0  31.37  @gmail.com
4        4     1.0     1.0     2.0  33.00  @gmail.com
5        5     1.0     1.0     1.0  30.00  @gmail.com
6        6     1.0     1.0     2.0  32.00  @gmail.com
7        7     1.0     1.0     1.0  36.00  @gmail.com
8        8     1.0     1.0     1.0  43.00  @yahoo.com
9        9     0.0     1.0     0.0  31.37  @gmail.com

In [655]:
user1['domain'] = user1['domain'].apply(lambda x: 1 if x == '@gmail.com' else 0)
user1.head()
#經過係數比較，發現domain中gmail佔大部分，因此將domain粗略分為gmail(值為1)和非gmail(值為0)
#after the comparison of the coefficient, the value 'gmail' comprise most part of the column 'domain'. Thus, change the column value into 'gmail' and 'non-gmail'

   user_id  attr_1  attr_2  attr_3    age  domain
0        0     0.0     1.0     0.0  31.37       1
1        1     1.0     1.0     2.0  50.00       1
2        2     0.0     1.0     0.0  31.37       0
3        3     0.0     1.0     0.0  31.37       1
4        4     1.0     1.0     2.0  33.00       1

In [656]:
train = pd.merge(train, user1, on = 'user_id')
train.head()
#合併train和整理過的user表格
#merge the table 'train' and processed 'user'

,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,...,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,attr_1,attr_2,attr_3,age,domain
0,4,2019-07-16 00:00:00+08:00,43,44,19,6,18,0,2,4,...,99,0,5,10,0,1.0,1.0,2.0,47.00,1
1,4,2019-07-16 00:00:00+08:00,102,44,9,4,8,2,9,17,...,90,1,1,4,1,1.0,1.0,2.0,25.00,0
2,6,2019-07-16 00:00:00+08:00,177,49,14,5,5,0,4,12,...,119,5,19,27,0,0.0,1.0,0.0,31.37,0
3,1,2019-07-16 00:00:00+08:00,184,49,49,9,53,0,0,1,...,69,1,3,6,0,1.0,1.0,2.0,24.00,0
4,6,2019-07-16 00:00:00+08:00,221,49,227,6,221,0,0,0,...,5,0,0,0,0,0.0,1.0,0.0,31.37,0

In [657]:
test = pd.merge(test, user1, on = 'user_id')
test.head()
#合併test和整理過的user表格
#merge the table 'test' and processed 'user'

,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,...,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,attr_1,attr_2,attr_3,age,domain
0,6,2019-09-03 00:00:00+08:00,0,35,27,2,13,2,3,4,...,34,134,0,6,18,0.0,1.0,0.0,31.37,1
1,6,2019-09-03 00:00:00+08:00,130,35,7,5,383,1,1,1,...,5,5,0,0,0,0.0,1.0,0.0,31.37,1
2,5,2019-09-03 00:00:00+08:00,150,25,34,1,3,0,0,0,...,19,38,2,2,2,1.0,1.0,2.0,33.00,1
3,1,2019-09-03 00:00:00+08:00,181,36,63,5,5,0,0,0,...,110,173,2,5,5,1.0,1.0,2.0,22.00,0
4,5,2019-09-03 00:00:00+08:00,192,23,6,5,54,0,0,0,...,12,39,0,0,2,0.0,1.0,0.0,31.37,1

In [658]:
"""
def f(x):
    if x == 'Never open':
        return 808
    else:
        return int(x)
train['last_open_day'] = train['last_open_day'].apply(lambda x : f(x))
"""

train['last_open_day'] = train['last_open_day'].apply(lambda x : 808 if x == 'Never open' else int(x))
test['last_open_day'] = test['last_open_day'].apply(lambda x : 808 if x == 'Never open' else int(x))
train.head(10)
#將last_open_day中'Never open'(從未打開)替換成該欄位的最大值(假設成很久之前打開過)
#replace the value 'Never open' in 'last_open_day' column with the max value in the column(assume it was opened long ago)

,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,...,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,attr_1,attr_2,attr_3,age,domain
0,4,2019-07-16 00:00:00+08:00,43,44,19,6,18,0,2,4,...,99,0,5,10,0,1.0,1.0,2.0,47.00,1
1,4,2019-07-16 00:00:00+08:00,102,44,9,4,8,2,9,17,...,90,1,1,4,1,1.0,1.0,2.0,25.00,0
2,6,2019-07-16 00:00:00+08:00,177,49,14,5,5,0,4,12,...,119,5,19,27,0,0.0,1.0,0.0,31.37,0
3,1,2019-07-16 00:00:00+08:00,184,49,49,9,53,0,0,1,...,69,1,3,6,0,1.0,1.0,2.0,24.00,0
4,6,2019-07-16 00:00:00+08:00,221,49,227,6,221,0,0,0,...,5,0,0,0,0,0.0,1.0,0.0,31.37,0
5,4,2019-07-16 00:00:00+08:00,246,44,5,8,70,3,7,13,...,45,0,0,7,0,1.0,1.0,2.0,35.00,1
6,5,2019-07-16 00:00:00+08:00,258,43,13,3,3,0,0,0,...,46,2,3,3,0,1.0,1.0,2.0,22.00,1
7,6,2019-07-16 00:00:00+08:00,288,49,163,1,28,0,0,0,...,45,0,5,7,0,1.0,1.0,2.0,22.00,1
8,1,2019-07-16 00:00:00+08:00,350,49,7,5,26,2,4,7,...,10,0,1,1,1,0.0,1.0,0.0,31.37,0
9,4,2019-07-16 00:00:00+08:00,417,44,7,10,12,2,6,14,...,17,0,1,1,0,1.0,1.0,2.0,31.00,1

In [659]:
train['last_login_day'] = train['last_login_day'].apply(lambda x : None if x == 'Never login' else int(x))
train['last_checkout_day'] = train['last_checkout_day'].apply(lambda x : None if x == 'Never checkout' else int(x))
train = train[train['last_login_day'] < 1500]
test['last_login_day'] = test['last_login_day'].apply(lambda x : None if x == 'Never login' else int(x))
test['last_checkout_day'] = test['last_checkout_day'].apply(lambda x : None if x == 'Never checkout' else int(x))
print(train.shape)

#將'last_login_day'和'last_checkout_day'中'Never login'及'Never checkout'替換成空值
#replace the 'Never login' and 'Never checkout' with None
#'last_login_day'中有超過一萬以上的值，應屬noise，因此將之剔除
#delete the value over 10000, which is possible noise

(73236, 22)

In [660]:
train['last_login_day'] = train['last_login_day'].fillna(train['last_login_day'].median())
train['last_checkout_day'] = train['last_checkout_day'].fillna(train['last_checkout_day'].median())
test['last_login_day'] = test['last_login_day'].fillna(test['last_login_day'].median())
test['last_checkout_day'] = test['last_checkout_day'].fillna(test['last_checkout_day'].median())
test.head(10)
#將剛剛替換的空值換成中位數
#replace the 'None' value with median

,country_code,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,...,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,attr_1,attr_2,attr_3,age,domain
0,6,2019-09-03 00:00:00+08:00,0,35,27,2.0,13.0,2,3,4,...,34,134,0,6,18,0.0,1.0,0.0,31.37,1
1,6,2019-09-03 00:00:00+08:00,130,35,7,5.0,383.0,1,1,1,...,5,5,0,0,0,0.0,1.0,0.0,31.37,1
2,5,2019-09-03 00:00:00+08:00,150,25,34,1.0,3.0,0,0,0,...,19,38,2,2,2,1.0,1.0,2.0,33.00,1
3,1,2019-09-03 00:00:00+08:00,181,36,63,5.0,5.0,0,0,0,...,110,173,2,5,5,1.0,1.0,2.0,22.00,0
4,5,2019-09-03 00:00:00+08:00,192,23,6,5.0,54.0,0,0,0,...,12,39,0,0,2,0.0,1.0,0.0,31.37,1
5,5,2019-09-03 00:00:00+08:00,208,25,76,1.0,55.0,0,0,0,...,58,100,0,0,1,1.0,1.0,1.0,40.00,1
6,5,2019-09-03 00:00:00+08:00,219,23,41,3.0,3.0,0,0,1,...,33,72,2,2,8,1.0,1.0,2.0,23.00,0
7,1,2019-09-03 00:00:00+08:00,331,36,3,2.0,2.0,0,3,3,...,55,93,1,3,6,0.0,1.0,0.0,31.37,1
8,5,2019-09-03 00:00:00+08:00,418,23,4,3.0,3.0,1,4,5,...,22,44,3,7,18,1.0,1.0,2.0,31.00,1
9,5,2019-09-03 00:00:00+08:00,427,23,22,5.0,16.0,0,1,2,...,29,57,0,3,4,1.0,1.0,1.0,24.00,1

In [661]:
area = pd.get_dummies(train['country_code']).rename(columns = lambda x : 'area_' + str(x))
area.head(10)
#將國家地區的欄位換成讀熱編碼
#convert the coutry column into one-hot encoding

   area_1  area_2  area_3  area_4  area_5  area_6  area_7
0       0       0       0       1       0       0       0
1       0       0       0       1       0       0       0
2       0       0       0       0       0       1       0
3       1       0       0       0       0       0       0
4       0       0       0       0       0       1       0
5       0       0       0       1       0       0       0
6       0       0       0       0       1       0       0
7       0       0       0       0       0       1       0
8       1       0       0       0       0       0       0
9       0       0       0       1       0       0       0

In [662]:
areat = pd.get_dummies(test['country_code']).rename(columns = lambda x : 'area_' + str(x))
areat.head(10)
#將國家地區的欄位換成讀熱編碼
#convert the coutry column into one-hot encoding

   area_1  area_2  area_3  area_4  area_5  area_6  area_7
0       0       0       0       0       0       1       0
1       0       0       0       0       0       1       0
2       0       0       0       0       1       0       0
3       1       0       0       0       0       0       0
4       0       0       0       0       1       0       0
5       0       0       0       0       1       0       0
6       0       0       0       0       1       0       0
7       1       0       0       0       0       0       0
8       0       0       0       0       1       0       0
9       0       0       0       0       1       0       0

In [663]:
train = train.drop(columns = ['country_code'])
train = train.join(area)
train.head(10)
test = test.drop(columns = ['country_code'])
test = test.join(areat)
#將原國家地區欄位剔除，補上剛剛轉換成的獨熱編碼
#drop the original country column and append the one-hot

In [664]:
train['grass_date'] = pd.to_datetime(train['grass_date'])
train['grass_date'] = train['grass_date'].dt.weekday
train.head(10)
#由於日期欄位的時間皆為GMT+8，因此只取日期，並轉為星期
#time in the date column are all GMT+8, thus, take date only, and convert to weekdays

,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,...,attr_3,age,domain,area_1,area_2,area_3,area_4,area_5,area_6,area_7
0,1,43,44,19,6.0,18.0,0,2,4,12,...,2.0,47.00,1,0,0,0,1,0,0,0
1,1,102,44,9,4.0,8.0,2,9,17,18,...,2.0,25.00,0,0,0,0,1,0,0,0
2,1,177,49,14,5.0,5.0,0,4,12,24,...,0.0,31.37,0,0,0,0,0,0,1,0
3,1,184,49,49,9.0,53.0,0,0,1,9,...,2.0,24.00,0,1,0,0,0,0,0,0
4,1,221,49,227,6.0,221.0,0,0,0,2,...,0.0,31.37,0,0,0,0,0,0,1,0
5,1,246,44,5,8.0,70.0,3,7,13,6,...,2.0,35.00,1,0,0,0,1,0,0,0
6,1,258,43,13,3.0,3.0,0,0,0,9,...,2.0,22.00,1,0,0,0,0,1,0,0
7,1,288,49,163,1.0,28.0,0,0,0,4,...,2.0,22.00,1,0,0,0,0,0,1,0
8,1,350,49,7,5.0,26.0,2,4,7,1,...,0.0,31.37,0,1,0,0,0,0,0,0
9,1,417,44,7,10.0,12.0,2,6,14,6,...,2.0,31.00,1,0,0,0,1,0,0,0

In [665]:
train_weekday = pd.get_dummies(train['grass_date']).rename(columns = lambda x : 'week_'+str(x+1))
train_weekday.head(10)
#將星期轉為獨熱編碼
#convert weekdays into one-hot

   week_1  week_2  week_3  week_4  week_5  week_6  week_7
0       0       1       0       0       0       0       0
1       0       1       0       0       0       0       0
2       0       1       0       0       0       0       0
3       0       1       0       0       0       0       0
4       0       1       0       0       0       0       0
5       0       1       0       0       0       0       0
6       0       1       0       0       0       0       0
7       0       1       0       0       0       0       0
8       0       1       0       0       0       0       0
9       0       1       0       0       0       0       0

In [666]:
train = train.drop(columns = ['grass_date'])
train = train.join(train_weekday)
#將星期欄位剔除，加上轉換之後的獨熱編碼
#drop the weekdays, and append the one-hot

In [667]:
test['grass_date'] = pd.to_datetime(test['grass_date'])
test['grass_date'] = test['grass_date'].dt.weekday
test.head(10)
#由於日期欄位的時間皆為GMT+8，因此只取日期，並轉為星期
#time in the date column are all GMT+8, thus, take date only, and convert to weekdays

,grass_date,user_id,subject_line_length,last_open_day,last_login_day,last_checkout_day,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,...,attr_3,age,domain,area_1,area_2,area_3,area_4,area_5,area_6,area_7
0,1,0,35,27,2.0,13.0,2,3,4,10,...,0.0,31.37,1,0,0,0,0,0,1,0
1,1,130,35,7,5.0,383.0,1,1,1,5,...,0.0,31.37,1,0,0,0,0,0,1,0
2,1,150,25,34,1.0,3.0,0,0,0,13,...,2.0,33.00,1,0,0,0,0,1,0,0
3,1,181,36,63,5.0,5.0,0,0,0,43,...,2.0,22.00,0,1,0,0,0,0,0,0
4,1,192,23,6,5.0,54.0,0,0,0,4,...,0.0,31.37,1,0,0,0,0,1,0,0
5,1,208,25,76,1.0,55.0,0,0,0,19,...,1.0,40.00,1,0,0,0,0,1,0,0
6,1,219,23,41,3.0,3.0,0,0,1,11,...,2.0,23.00,0,0,0,0,0,1,0,0
7,1,331,36,3,2.0,2.0,0,3,3,15,...,0.0,31.37,1,1,0,0,0,0,0,0
8,1,418,23,4,3.0,3.0,1,4,5,8,...,2.0,31.00,1,0,0,0,0,1,0,0
9,1,427,23,22,5.0,16.0,0,1,2,10,...,1.0,24.00,1,0,0,0,0,1,0,0

In [668]:
test_weekday = pd.get_dummies(test['grass_date']).rename(columns = lambda x : 'week_'+str(x+1))
test_weekday.head(10)
#將星期轉為獨熱編碼
#convert weekdays into one-hot

   week_1  week_2  week_3  week_4  week_5  week_6  week_7
0       0       1       0       0       0       0       0
1       0       1       0       0       0       0       0
2       0       1       0       0       0       0       0
3       0       1       0       0       0       0       0
4       0       1       0       0       0       0       0
5       0       1       0       0       0       0       0
6       0       1       0       0       0       0       0
7       0       1       0       0       0       0       0
8       0       1       0       0       0       0       0
9       0       1       0       0       0       0       0

In [669]:
test = test.drop(columns = ['grass_date'])
test = test.join(test_weekday)
#將星期欄位剔除，加上轉換之後的獨熱編碼
#drop the weekdays, and append the one-hot

In [670]:
train = train.drop(columns = ['last_open_day','last_login_day','last_checkout_day'])
test = test.drop(columns = ['last_open_day','last_login_day','last_checkout_day'])
#經係數比較，'last_open_day','last_login_day','last_checkout_day'三欄的影響及小，因此將之剔除
#drop 3 columns with small coefficient(10*e-4)  
"""
train = train.drop(columns = ['last_open_day','last_login_day'])
test = test.drop(columns = ['last_open_day','last_login_day'])
"""
train = train.drop(columns = ['user_id', 'subject_line_length'])
test = test.drop(columns = ['user_id', 'subject_line_length'])
#使用者ID以及電郵主題長度對結果幾乎沒有影響，將之剔除
#drop 'user id' and 'subject line length'

In [671]:
def normalize(s):
    mi = s.min()
    ma = s.max()
    s = s.apply(lambda x: round((x - mi) / (ma - mi),4))
    return s
#定義常規化的函數
#define function normalization

In [672]:
need_normalize = ['open_count_last_10_days',
                  'open_count_last_30_days',
                  'open_count_last_60_days',
                  'login_count_last_10_days',
                  'login_count_last_30_days',
                  'login_count_last_60_days',
                  'checkout_count_last_10_days',
                  'checkout_count_last_30_days',
                  'checkout_count_last_60_days',
                  'age']

In [673]:
for i in need_normalize:
    train[i] = normalize(train[i])
    test[i] = normalize(test[i])
#將數值的欄位全都進行常規化
#apply to all numeric values

In [674]:
train.head(10)

,open_count_last_10_days,open_count_last_30_days,open_count_last_60_days,login_count_last_10_days,login_count_last_30_days,login_count_last_60_days,checkout_count_last_10_days,checkout_count_last_30_days,checkout_count_last_60_days,open_flag,...,area_5,area_6,area_7,week_1,week_2,week_3,week_4,week_5,week_6,week_7
0,0.0000,0.0217,0.0296,0.0472,0.0585,0.0786,0.0000,0.0094,0.0128,0,...,0,0,0,0,1,0,0,0,0,0
1,0.0645,0.0978,0.1259,0.0709,0.0653,0.0714,0.0064,0.0019,0.0051,1,...,0,0,0,0,1,0,0,0,0,0
2,0.0000,0.0435,0.0889,0.0945,0.0939,0.0944,0.0318,0.0358,0.0345,0,...,0,1,0,0,1,0,0,0,0,0
3,0.0000,0.0000,0.0074,0.0354,0.0313,0.0548,0.0064,0.0056,0.0077,0,...,0,0,0,0,1,0,0,0,0,0
4,0.0000,0.0000,0.0000,0.0079,0.0068,0.0040,0.0000,0.0000,0.0000,0,...,0,1,0,0,1,0,0,0,0,0
5,0.0968,0.0761,0.0963,0.0236,0.0245,0.0357,0.0000,0.0000,0.0089,0,...,0,0,0,0,1,0,0,0,0,0
6,0.0000,0.0000,0.0000,0.0354,0.0435,0.0365,0.0127,0.0056,0.0038,0,...,1,0,0,0,1,0,0,0,0,0
7,0.0000,0.0000,0.0000,0.0157,0.0259,0.0357,0.0000,0.0094,0.0089,0,...,0,1,0,0,1,0,0,0,0,0
8,0.0645,0.0435,0.0519,0.0039,0.0109,0.0079,0.0000,0.0019,0.0013,1,...,0,0,0,0,1,0,0,0,0,0
9,0.0645,0.0652,0.1037,0.0236,0.0150,0.0135,0.0000,0.0019,0.0013,0,...,0,0,0,0,1,0,0,0,0,0

In [675]:
train.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 73236 entries, 0 to 73538
Data columns (total 29 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   open_count_last_10_days      73236 non-null  float64
 1   open_count_last_30_days      73236 non-null  float64
 2   open_count_last_60_days      73236 non-null  float64
 3   login_count_last_10_days     73236 non-null  float64
 4   login_count_last_30_days     73236 non-null  float64
 5   login_count_last_60_days     73236 non-null  float64
 6   checkout_count_last_10_days  73236 non-null  float64
 7   checkout_count_last_30_days  73236 non-null  float64
 8   checkout_count_last_60_days  73236 non-null  float64
 9   open_flag                    73236 non-null  int64
 10  attr_1                       73236 non-null  float64
 11  attr_2                       73236 non-null  float64
 12  attr_3                       73236 non-null  float64
 13  age                          73236 non-null  float64
 14  domain                       73236 non-null  int64
 15  area_1                       73236 non-null  uint8
 16  area_2                       73236 non-null  uint8
 17  area_3                       73236 non-null  uint8
 18  area_4                       73236 non-null  uint8
 19  area_5                       73236 non-null  uint8
 20  area_6                       73236 non-null  uint8
 21  area_7                       73236 non-null  uint8
 22  week_1                       73236 non-null  uint8
 23  week_2                       73236 non-null  uint8
 24  week_3                       73236 non-null  uint8
 25  week_4                       73236 non-null  uint8
 26  week_5                       73236 non-null  uint8
 27  week_6                       73236 non-null  uint8
 28  week_7                       73236 non-null  uint8
dtypes: float64(13), int64(2), uint8(14)
memory usage: 12.4 MB

In [676]:
test.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 55970 entries, 0 to 55969
Data columns (total 28 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   open_count_last_10_days      55970 non-null  float64
 1   open_count_last_30_days      55970 non-null  float64
 2   open_count_last_60_days      55970 non-null  float64
 3   login_count_last_10_days     55970 non-null  float64
 4   login_count_last_30_days     55970 non-null  float64
 5   login_count_last_60_days     55970 non-null  float64
 6   checkout_count_last_10_days  55970 non-null  float64
 7   checkout_count_last_30_days  55970 non-null  float64
 8   checkout_count_last_60_days  55970 non-null  float64
 9   attr_1                       55970 non-null  float64
 10  attr_2                       55970 non-null  float64
 11  attr_3                       55970 non-null  float64
 12  age                          55970 non-null  float64
 13  domain                       55970 non-null  int64
 14  area_1                       55970 non-null  uint8
 15  area_2                       55970 non-null  uint8
 16  area_3                       55970 non-null  uint8
 17  area_4                       55970 non-null  uint8
 18  area_5                       55970 non-null  uint8
 19  area_6                       55970 non-null  uint8
 20  area_7                       55970 non-null  uint8
 21  week_1                       55970 non-null  uint8
 22  week_2                       55970 non-null  uint8
 23  week_3                       55970 non-null  uint8
 24  week_4                       55970 non-null  uint8
 25  week_5                       55970 non-null  uint8
 26  week_6                       55970 non-null  uint8
 27  week_7                       55970 non-null  uint8
dtypes: float64(13), int64(1), uint8(14)
memory usage: 9.7 MB

In [677]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression

In [678]:
X_train, X_test, y_train, y_test = train_test_split(train.drop(columns = ['open_flag']), train['open_flag'], test_size = 0.2, random_state = 100)
#將測試資料分為測試以及驗證集
#split the train datasets into train and validation datasets

In [679]:
log = LogisticRegression()

In [680]:
log.fit(X_train, y_train)
prediction = log.predict(X_test)

/opt/conda/lib/python3.7/site-packages/sklearn/linear_model/_logistic.py:764: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG)

In [681]:
print(prediction)
print(len(prediction))
print(prediction.sum())

[0 0 1 ... 0 0 1]
14648
1327

In [682]:
print(log.coef_)
#檢查邏輯回歸個因素的係數，將過小係數的因素剔除
#show the coefficient of the factor in logistic regression and drop the factor with small coefficient

[[12.10434493  6.83615359  5.15420858  1.48359292 -0.18349624 -2.04932183
   0.21838501  0.14684331 -0.43463554  0.08752642  0.41013383 -0.08599003
   0.35552133 -0.14772375 -0.94752321 -0.57377252 -1.02132206  0.80399648
   0.38391234 -0.43246239  0.53881354  0.01735452 -0.09688983 -0.21669817
  -0.21662213 -0.10215698 -0.50863699 -0.12470825]]

In [683]:
sum(abs(prediction - y_test)) / len(y_test)
#設定簡易測試方式
#define an easy way to test the accuracy of the model

0.11237028945931185

In [684]:
ans = log.predict(test)
len(ans)
#將訓練好的模型套用在測試集(test)上
#apply the trained model on the test datasets

55970

In [685]:
sub = pd.read_csv('../input/open-shopee-code-league-marketing-analytics/sample_submission_0_1.csv')
print(sub.shape)

(55970, 2)

In [686]:
print(len(sub))

55970

In [687]:
sub['open_flag'] = ans
#將預測結果寫入
#write in the prediction

In [688]:
sub.head(10)

   row_id  open_flag
0       0          0
1       1          0
2       2          0
3       3          0
4       4          0
5       5          0
6       6          0
7       7          0
8       8          0
9       9          0

In [689]:
sub.to_csv('sub.csv',index=False)
#將結果輸出成csv檔
#export as csv file